<form action="/categories/create" method="post">
    <label for="title">Category Name :</label>
    <input type="text" name="Title" id="title">
    <button type="submit">Add Category Title</button>
</form>